<section id="resume">
    <div [className]="'row education'">
        <div [className]="'three columns header-col'">
            <h1>
                <span>Education</span>
            </h1>
        </div>

        <div [className]="'nine columns main-col'">
            <div [className]="'row item'">
                <div [className]="'twelve columns'">
                    <div>
                        <h3>{{resume.resume.education['school']}}</h3>
                        <p className="info">
                            {{resume.resume.education['degree']}} <span>&bull;</span>
                            <em className="date">{{resume.resume.education['graduated']}}</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [className]="'row work'">
        <div [className]="'three columns header-col'">
            <h1>
                <span>Work</span>
            </h1>
        </div>

        <div [className]="'nine columns main-col'">

            <div *ngFor="let work of resume.resume.work">
                <h3>{{work['company']}}</h3>
                <p className="info">
                    {{work['title']}}
                    <span>&bull;</span> <em className="date">{{work['years']}}</em>
                </p>
                <p> description</p>
            </div>
            <!-- <div>
                <h3>{{resume.resume.work[0]['company']}}</h3>
                <p className="info">
                    {{resume.resume.work[0]['title']}}
                    <span>&bull;</span> <em className="date">{{resume.resume.work[0]['years']}}</em>
                </p>
                <p> description</p>
            
            </div> -->
        </div>
    </div>

    <div [className]="'row skill'">
        <div [className]="'three columns header-col'">
            <h1>
                <span>Skills</span>
            </h1>
        </div>

        <div [className]="'nine columns main-col'">
            <p>Skillmessage</p>

            <div [className]="'bars'">
                <ul [className]="'skills'">skills</ul>
            </div>
        </div>
    </div>
</section>