<header id="home">
    <nav id="nav-wrap" onscroll="onWindowScroll()">

        <a [className]="'mobile-btn'" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a [className]="'mobile-btn'" href="#home" title="Hide navigation">Hide navigation</a>


        <ul id="nav" [className]="'nav'">

            <li [routerLink]="['/home']" fragment="home" [routerLinkActive]="['current']">
                <a> Home</a>
            </li>
            <li [routerLink]="['/about']" fragment="about" [routerLinkActive]="['current']">
                <a>About</a>
            </li>
            <li [routerLink]="['/resume']" fragment="resume" [routerLinkActive]="['current']">
                <a>Resume</a>
            </li>
            <li [routerLink]="['/contact']" fragment="contact" [routerLinkActive]="['current']">
                <a>Contact</a>
            </li>
        </ul>
    </nav>

    <div *ngIf="resume" [className]="'row banner'">
        <div [className]="'banner-text'">
            <h1 [className]="'responsive-headline'">I'm {{resume.main.name}}</h1>
            <h3>{{resume.main.description}}</h3>
            <hr />
            <ul [className]="'social'">
                <li *ngFor="let soc of resume.main.social">
                    <a herf="" *ngIf="soc.className == 'faGithub';else linkedin_icon">
                        <fa-icon [icon]="faGithub" style="color:white"> </fa-icon>
                    </a>
                    <ng-template #linkedin_icon>
                        <fa-icon [icon]="faLinkedin" style="color:white"> </fa-icon>
                    </ng-template>

                </li>
            </ul>
        </div>


        <p>
            <a [routerLink]="['/about']" fragment="about" [routerLinkActive]="['current']">
                <fa-icon [icon]="faCircle" size="3x" style="color:white"></fa-icon>
            </a>
        </p>
    </div>


</header>

<app-about [resume]="resume"></app-about>
<app-resume [resume]="resume"></app-resume>
<app-contact [resume]="resume"></app-contact>