<header id="home">
    <nav id="nav-wrap">

        <a [className]="'mobile-btn'" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a [className]="'mobile-btn'" href="#home" title="Hide navigation">Hide navigation</a>

        <ul id="nav" [className]="'nav'">
            <li [className]="'current'"><a [className]="'smoothscroll'" href="#home">Home</a></li>
            <li><a [className]="'smoothscroll'" href="#about">About</a></li>
            <li><a [className]="'smoothscroll'" href="#resume">Resume</a></li>
            <li><a [className]="'smoothscroll'" href="#contact">Contact</a></li>
        </ul>
    </nav>

    <div [className]="'row banner'">
        <div [className]="'banner-text'">
            <h1 [className]="'responsive-headline'">I'm Gary.</h1>
            <h3>I'm a Indianapolis/Remote based Full Stack Engineer with over 5 years of experience who loves
                building
                things and solving problems. My expertise is building backend services with REST or Lambda..</h3>
            <hr />
            <ul [className]="'social'">

            </ul>
        </div>
    </div>
    <p className="scrolldown">
        <a className="smoothscroll" href="#about"><i className="icon-down-circle"></i></a>
    </p>

</header>

<app-about></app-about>
<app-resume></app-resume>
<app-contact></app-contact>